body {
  background-color: blanchedalmond;
}

#left {
  overflow-y: scroll;
  max-height: 600px;
  display: block;
  border: solid black;
  background-color: rgb(243, 159, 120);
}

.jumbotron {
  text-align: center;
  background-color: rgb(115, 180, 49);
  border: solid rgb(243, 159, 120);
}

h4 {
  text-decoration: underline rgb(115, 180, 49);
  text-align: center;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(200, 200, 200);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color:rgb(115, 180, 49);
  -webkit-box-shadow: inset 0 0 6px rgba(90,90,90,0.7);
}