body {
  background-color: blanchedalmond;
}

#side {
  overflow-y: scroll;
  max-height: 600px;
  display: block;
  border: solid black;
}

.jumbotron {
  text-align: center;
  background-color: rgb(87, 153, 20);
}